.contact {
  .contact-banner-content {
    min-height: 100dvh;
    text-align: start;
    width: 100%;
    // max-width: rem(832);
    position: relative;
    z-index: 1;
    margin: 0;

    @include mq(phone) {
      margin: auto;
      justify-content: flex-start;
      padding-top: rem(133);
    }
  }



  .contact-banner {
    position: relative;
    background-image: url("#{$image-path}/png/contact-banner.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

    @include mq(tablet) {
      background-image: url("#{$image-path}/png/contact-banner-mobile.png");
    }
  }

  

  .quick-contact-wrapper {
    .quick-contact-icon {
      min-width: rem(24);
      max-width: rem(24);
    }
  }

  .form {
    border-bottom: 1px solid var(--border-secondary-light);

    @include mq(phone) {
      padding-top: rem(64);
    }

    .form-wrapper {
      column-gap: rem(20);
      padding-bottom: rem(64);

      @include mq(tablet) {
        flex-direction: column;
        row-gap: rem(40);
      }

      @include mq(phone) {
        padding-bottom: rem(48);
      }
    }

    .font-title {
      max-width: rem(504);
    }

    .font-desc {
      max-width: rem(372);
    }
  }

  .info {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .mail-wrapper {
    @include mq(phone) {
      padding: rem(0) rem(0) rem(8) rem(0) !important;
    }
  }

  .whatsapp-wrapper {
    @include mq(phone) {
      padding: rem(0) !important;
    }
  }
}