.why-choose-container {



  .cmn-banner-right {

    margin: auto !important;




  }



}















.why-choose {




  .quick-contact-wrapper {
    .quick-contact-icon {
      min-width: rem(24);
      max-width: rem(24);
    }
  }

  .form {
    border-bottom: 1px solid var(--border-secondary-light);

    @include mq(phone) {
      padding-top: rem(64);
    }

    .form-wrapper {
      column-gap: rem(20);
      padding-bottom: rem(64);

      @include mq(tablet) {
        flex-direction: column;
        row-gap: rem(40);
      }

      @include mq(phone) {
        padding-bottom: rem(48);
      }
    }

    .font-title {
      max-width: rem(504);
    }

    .font-desc {
      max-width: rem(372);
    }
  }

  .info {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .mail-wrapper {
    @include mq(phone) {
      padding: rem(0) rem(0) rem(8) rem(0) !important;
    }
  }

  .whatsapp-wrapper {
    @include mq(phone) {
      padding: rem(0) !important;
    }
  }

  .form-content {
    padding-left: rem(24);

    @include mq(phone) {
      padding: rem(0) !important;
    }
  }
}


.reseller-partner {
  margin-bottom: 1rem;

  label {
    color: #707070;
  }

}


.checlist-block {
  margin-top: 2rem;

  .check-block {
    margin-bottom: 1rem;
  }


}